$blue: #08c8e5;
$move-dist: 35px;
$fade-dist: -20px;


body {
	height: 400vh;
}

section {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	color: #222;
	font-size: 45px;
	font-family: 'Cabin Condensed', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;

	&.one {
		background-color: #55bf8f;
	}

	&.two {
		background-color: #4c76a7;
	}

	&.three {
		background-color: #59aca9;
	}

	&.four {
		background-color: saturate(lighten(#c589a0, 10%), 5%);
	}
}

button {
	padding: 10px 30px;
	margin-left: 20px;
	outline: none;
	border: 2px solid $blue;
	background-color: #fff;
	font-family: 'Vidaloka', sans-serif;
	font-size: 23px;
	transition: 500ms ease-in;

	&.filled {
		/* Animation results in better performances than transitions*/
		animation: filled 300ms forwards;
	}
}

a {
	text-decoration: none;
	color: currentColor;
}

.nav {
	background-color: lighten(#eee, 1%);
	background-color: #fff;
	width: 100vw;
	max-width: 100%;
	height: 100px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.col {
		&-2 {
			flex: 2 0 0;
		}

		&-8 {
			flex: 8 0 0;
			text-align: center;
			font-size: 37px;
			display: flex;
			justify-content: center;
			font-family: 'Vidaloka', serif;
		}
	}
	i {
		margin-right: 10px;

		&.move-right {
			animation: move-right 300ms forwards;
		}

		&.move-left {
			animation: move-left 300ms forwards;
		}
	}
}

.title {
	&.fade-out {
		animation: fade-out 300ms forwards;
	}

	&.fade-in {
		animation: fade-in 300ms forwards;
	}
}

@keyframes fade-out {
	from {
		transform: translateX(0);
		opacity: 1;
		display: block;
	}
	to {
		transform: translateX($fade-dist);
		opacity: 0;
		display: none;
	}
}

@keyframes fade-in {
	from {
		transform: translateX($fade-dist);
		opacity: 0;
		display: none;
	}
	to {
		transform: translateX(0);
		opacity: 1;
		display: block;
	}
}

@keyframes filled {
	from {
		background-color: #fff;
	}
	to {
		background-color: $blue;
	}
}

@keyframes move-right {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX($move-dist);
	}
}

@keyframes move-left {
	from {
		transform: translateX($move-dist);
	}
	to {
		transform: translateX(0);
	}
}

h1 {
	text-shadow: 2px 2px 2px black;
}

footer {
	padding-top: 50px;
}

input:not(.form-control) {
	border-radius: 5px;
	line-height: 1.9em;
	margin: 20px 0 20px 0;
	box-shadow: 2px 2px 2px black;
}

i {
	height: 30px;
}

footer {
	background: linear-gradient(45deg, blue, red);
	color: white;

}

.footer-footer {
	background-color: black;
	margin-top: 100px;
}

.footer-footer>div {
	padding-top: 2em;
}

i {
	margin-top: 20px;
	color: rgba(100, 200, 200, .8);
	text-shadow: 2px 2px 2px black;
}

p {
	font-size: 1.4em;
	text-shadow: 2px 2px 2px black;
}

button {
	box-shadow: 2px 2px 2px black;
}
