.background{
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("/images/bg-masthead.jpg");
    height:100vh; 
}
.footer-h5{
  font-size:15px;
}
.introduction-footer{
  flex-direction: column;
  display: flex;

  justify-content: center;
  align-items: center;
}
.infor-container{
  margin-top:10px;
  width:70%;
  height:80%;
}
.footer{
  color:white;
  height:300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dien-badge{
  margin-left:5px;
}
.project{
  height:1000px;
}
.carousel-container{
  margin-top:20px;
}
.dien-corousel{
  height:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: columm;
}
.row-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.iframe{
  width:100%;
  height:100%;
}
.myh3{
  font-size: 14px;
}
.infor{
  width:60%;
}
.myh5{
  font-size: 12px;
}
.black{
  color:black;
}
.img-resume{
  width:100%;
}
.resume{
  display: flex;
  justify-content: center;
  height:700px;
  width:100%;
  color:rgb(118, 118, 126);
  filter: saturate(0);

  background-image:url("images/nikolay-tarashchenko-u76CN5rZeOU-unsplash.jpg");
  background-size:contain;
}
.dien-nav{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;}
.pull-left{
    width:40%;
}
.introduction{
  padding-top: 200px;
  display: flex;
  justify-content: center;
  font-size:24px;
}
.pull-right{
    width:30%;
}

  
  #global-nav {
   
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 70px;
    width: 100%;
    line-height: 70px;
      -webkit-transition: height .5s, line-height .5s; /* Safari */
      transition: height .5s, line-height .5s;
  }
  
  .site-title {
    display: inline-block;
    -webkit-transition: all .5s;
      transition: all .5s;
      font-size:30px;
  }
  
  .scrolled-nav .site-title  {
    font-size: 16px;
  }
  
  .nav-list {
    list-style: none;
  }
  
  .nav-list li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
  }
  
  .hero-section,
  .content-section {
    height: 500px;
    padding: 100px;
  }
  
  .hero-text,
  .content-text {
    max-width: 550px;
  }
  
  .hero-section h1 {
    color: #333;
  }
  
  .hero-section p {
    color: #333;
  }
  
  .content-section {
    background: aqua;
  }
  
  .scrolled-nav {
    height: 60px !important;
    line-height: 60px !important;
    background-color: #161313;
    color:white;
  }
  
  
  
  footer {
    height: 200px;
    background: #333;
    color: #fff;
    /* padding-top: 40px; */
  } 
  .container {
    position: relative;
  }
  
  .container .page-title, .container .page-sub-title {
    color: white;
    text-align: center;
  }
  
  .container .page-title {
    margin: 30px 0 5px;
    font-size: 30px;
  }
  
  .container .page-sub-title {
    font-weight: 100;
    margin: 0 0 30px 0;
    font-size: 23px;
  }
  
  html {
    background: linear-gradient(45deg, #DE6262 10%, #FFB88C 90%);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100vh;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  .card-container {
    perspective: 1000;
    margin: 0 auto 50px;
    width: 300px;
   
  }
  
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition-delay: 0.15s;
    transition: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .front {
    transform: rotateY(0deg);
    
  }
  
  .back {
    transform: rotateY(180deg);
    opacity: 0;
    backface-visibility: visible;
    background: #333741;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .badge-container{
    margin-top:5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .card {
    position: relative;
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
    overflow: hidden;
    transition: 0.5s;
    transform-style: preserve-3d;
    
  }
  
  .card-container:hover .card{
    transform: rotateY(180deg);
  }
  
  .card-container:hover .card .front {
    opacity: 0;
  }
  
  .card-container:hover .card .back {
    opacity: 1;
  }
  
  .sub-title {
    color: #DE6262;
    animation: slide-in 0.75s;
    animation: slide-in 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    font-size: 18px;
    font-weight: 200;
    margin: 0 0 5px 0;
  }
  
  .title {
    color: #333741;
    animation: slide-in-slow 0.75s;
    animation: slide-in-slow 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    font-size: 30px;
    font-weight: 600;
    margin: 0;
  }
  
  .synopsis {
    color: #DE6262;
    font-size: 27px;
    font-weight: 600;
    margin: 0 0 15px;
  }
  
  p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 19px;
    line-height: 1.5;
    margin: 0 0 35px;
  }
  
  .btn {
    border: 1px solid #FFB88C;
    border-radius: 5px;
    background: transparent;
    display: inline-block;
    font-size: 17px;
    padding: 8px 20px 9px 15px;
    color: #FFB88C;
    transition: 0.5s;
    margin: 0 2px 0;
    font-weight: 100;
  }
  
  .btn.secondary {
    border-color: #DE6262;
    color: #DE6262;
  }
  
  .btn.secondary:hover {
    background: #DE6262;
  }
  .iframe-container{
    width:100%;
    height:100%;
  }
  .btn:hover {
    cursor: pointer;
    background: #FFB88C;
    color: white;
  }
  .container-img{
    width:90%;
    /* padding:100px; */
  }
  .btn i {
    margin: 0 5px 0;
  }
  
  .image {
    border:1px solid rgba(0,0,0,.125);
    top:0;
    left:0;
    filter: saturate(0);
    width:100%;
   
    animation: slide-in-right 1.25s;
    animation: slide-in-right 1.25s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    font-size: 35px;
    font-weight: 600;
    margin: 0;
  }
  
  @keyframes slide-in {
    0% {
      transform: translate3d(-300px, 0, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slide-in-slow {
    0% {
      transform: translate3d(-300px, 0, 0);
    }
  
    20% {
      transform: translate3d(-300px, 0, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translate3d(400px, 0, 0);
    }
  
    30% {
      transform: translate3d(400px, 0, 0);
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }